<a href="https://colab.research.google.com/github/cb4github/LsuSciCompBootCamp2020/blob/master/My_Copy_of_Day_4_data_R_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice session
===
Data Analysis in R

##Warming up: review workding folder basics
*  R works best if you have a dedicated folder for each separate project - the working folder. Put all data files in the working folder (or in subfolders).

Show current working folder:

In [6]:
getwd()
list.files()
list.files("sample_data")

[1] "/content"

[1] "sample_data"

[1] "anscombe.json"                "california_housing_test.csv"
[3] "california_housing_train.csv" "mnist_test.csv"
[5] "mnist_train_small.csv"        "README.md"

Create a new folder:

In [0]:
dir.create("day4practice")

Go to the new folder:

In [0]:
setwd("day4practice")

Show current working folder:

In [9]:
getwd()

[1] "/content/day4practice"

##Case Study: 2019 Forbes Global list
*   The `forbes` dataset consists of 2000 rows (observations) on 8 variables describing companies’ rank, name, country, category, sales, profits, assets and market value. 
http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip
> * **`rank`** the ranking of the company
> * **`name`** the name of the company
> * **`country`** the country the company is situated in
> * **`category`** the products the company produces
> * **`sales`** the amount of sales of the company in billion USD
> * **`profits`** the profit of the company in billion USD
> * **`assets`** the assets of the company in billion USD
> * **`marketvalue`** the market value of the company in billion USD

# Step by step Data Analysis in R


1. Get data
2. Read data
3. Inspect data
4. Preprocess data (missing and dubious values, discard columns not needed etc.)
5. Analyze data
6. Generate report

## 1. Getting Data

Raw data 
* http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip

* Choose one of the following to download the raw data file from internet, then upload to the colab
> * Manually download the file to the working directory 
> * or with R function `download.file()`

In [10]:
# Fill the blanks in the download command
download.file("http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip", "Forbes2000_2019.csv.zip")
list.files() # List files in current folder

[1] "Forbes2000_2019.csv.zip"

* Unzip with the `unzip()` function

In [11]:
# Fill the blanks in the unzip command
unzip("Forbes2000_2019.csv.zip","Forbes2000_2019.csv")
list.files()   # List files in current folder

[1] "Forbes2000_2019.csv"     "Forbes2000_2019.csv.zip"

##2. Reading data
* R understands many different data formats and has lots of ways of reading/writing them (csv, xml, excel, sql, json etc.)

>Input | Output | Purpose
>--- | --- | ---
>read.table (read.csv) | write.table (write.csv) | for reading/writing tabular data
>readLines | writeLines | for reading/writing lines of a text file
>source | dump | for reading/writing in R code files
>dget | dput | for reading/writing in R code files
>load | save | for reading in/saving workspaces

* ` read.csv()` is identical to `read.table()` except that the default separator is a comma.

In [12]:
# Fill the blank in the read.csv command
forbes <- read.csv("Forbes2000_2019.csv",header=T,stringsAsFactors = FALSE,na.strings = "?",sep=",")
str(forbes)

'data.frame':	2000 obs. of  7 variables:
 $ rank       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name       : chr  "ICBC" "JPMorgan Chase" "China Construction Bank" "Agricultural Bank of China" ...
 $ country    : chr  "China" "United States" "China" "China" ...
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

In [0]:
?read.csv

##3. Inspecting data
* `class()`: check object class
* `dim()`: dimension of the data
* `head()`: print on screen the first few lines of data, may use n as argument
* `tail()`: print the last few lines of data

In [0]:
# Fill the blanks in the following commands
class(forbes)
dim(forbes)
head(forbes,n=50)

In [25]:
# Fill the blank in the summary command
summary(forbes)

      rank            name             country              sales
 Min.   :   1.0   Length:2000        Length:2000        Min.   : -9.100
 1st Qu.: 500.8   Class :character   Class :character   1st Qu.:  4.725
 Median :1000.5   Mode  :character   Mode  :character   Median : 10.300
 Mean   :1000.5                                         Mean   : 20.600
 3rd Qu.:1500.2                                         3rd Qu.: 20.575
 Max.   :2000.0                                         Max.   :514.400
                                                        NA's   :2
    profits             assets         marketvalue
 Min.   :-22.4000   Min.   :   1.50   Min.   :  0.009
 1st Qu.:  0.4205   1st Qu.:  12.05   1st Qu.:  6.875
 Median :  0.7760   Median :  26.30   Median : 13.400
 Mean   :  1.7043   Mean   :  93.58   Mean   : 28.408
 3rd Qu.:  1.7000   3rd Qu.:  61.00   3rd Qu.: 27.500
 Max.   : 59.4000   Max.   :4034.50   Max.   :961.300
 NA's   :1          NA's   :5

##4. Preprocess data

### 4.1 Preprocessing - missing values
* Missing values are denoted in R by NA or NaN for undefined mathematical operations.
> * `is.na(x)` is used to test objects "x" if there are NAs
> * Which one is NA? `which(is.na(x))`

In [0]:
Use one of the commands in the last session to

In [26]:
# Fill the blank to find out which ones are NAs on Sales
which(is.na(forbes$sales))

[1] 192 570

* more about missing value inspection
> * How many NAs? `table(is.na(x))`
> * list of observations with missing values on profits `x(is.na(x),)`

In [114]:
# Fill the blank to find out how many NAs on assets
table(is.na(forbes$assets))
# Fill the blank to find out observations with missing values on profits
which(is.na(forbes$profits))

FALSE  TRUE
 1995     5

[1] 1092

* remember many R functions also have a logical “`na.rm`” option
> * `na.rm=TRUE` means the NA values should be discarded

In [29]:
# Calculate the mean value of profits
mean(forbes$profits)  # will get NA
mean(forbes$profits, na.rm = T)

[1] NA

[1] 1.704337

* **Note: Not all missing values are marked with “NA” in the raw data!**

* The simplest way to deal with the missing values is to remove them. 
> * If a column (variable) has a high percentage of the missing value, remove the whole column or just don’t use it for the analysis.
> * If a row (observation) has a missing value, remove the row with `na.omit()`. e.g.

In [30]:
# remove the observations with missing values, save it to object "forbes2"
forbes2 <- na.omit(forbes)
# find out the dimensions of forbes2
dim(forbes2)

[1] 1992    7

* Alternatively, the missing values can be replaced by basic statistics e.g. 
> * replace by mean

In [13]:
for(i in 1:nrow(forbes)){
  if(is.na(forbes$profits[i])==TRUE){
  forbes$profits[i] <- mean(forbes$profits, na.rm = TRUE)
  }
}
for(i in 1:nrow(forbes)){
  if(is.na(forbes$sales[i])==TRUE){
  forbes$sales[i] <- mean(forbes$sales, na.rm = TRUE)
  }
}
for(i in 1:nrow(forbes)){
  if(is.na(forbes$assets[i])==TRUE){
  forbes$assets[i] <- mean(forbes$assets, na.rm = TRUE)
  }
}
dim(forbes)

[1] 2000    7

###4.2 Preprocessing - subsetting data
* At most occasions we do not need all of the raw data
* There are a number of methods of extracting a subset of R objects
* Subsetting data can be done either by row or by column

#### 4.2.1 Subsetting by row: use conditions
Fill the blanks to find all companies with negative profit:

In [0]:
forbes[forbes$profits < 0,c("name","sales","profits","assets")]

Fill the blanks to find the number of companies in each country with profits above 5 billion US dollars

In [76]:
forbes3 <- forbes[forbes$profits > 5,c("name","country","profits")]
table(forbes3$country)

     Australia         Brazil         Canada          China        Denmark
             3              5              3             23              1
        France        Germany      Hong Kong          India          Italy
             3              6              5              1              1
         Japan     Luxembourg    Netherlands         Norway         Russia
            10              1              3              1              5
  Saudi Arabia   South Africa    South Korea          Spain    Switzerland
             1              1              2              2              3
        Taiwan United Kingdom  United States
             1              5             59

Find three companies with largest sale volumne:

In [34]:
companies <- forbes$name  # or companies <- forbes[,"name"] 
order_sales <- order(forbes$sales, decreasing=T)
#company names
companies[order_sales[1:3]]
#company sales
head(sort(forbes$sales,decreasing=T),n=3)

[1] "Walmart"           "Sinopec"           "Royal Dutch Shell"

[1] 514.4 399.7 382.6

Fill the blanks below to find first 50 companies in the Forbes dataset with the highest profit

In [36]:
companies <- forbes$name   
order_profit <- order(forbes$profits, decreasing = T)   # order() returns the indices of the vector in sorted order
companies[order_profit[1:50]]
head(sort(forbes$profits,decreasing=T), n = 50)

 [1] "Apple"                      "ICBC"
 [3] "Samsung Electronics"        "China Construction Bank"
 [5] "Microsoft"                  "JPMorgan Chase"
 [7] "Agricultural Bank of China" "Alphabet"
 [9] "Bank of America"            "Bank of China"
[11] "Royal Dutch Shell"          "Wells Fargo"
[13] "Facebook"                   "Intel"
[15] "ExxonMobil"                 "AT&T"
[17] "Gazprom"                    "Citigroup"
[19] "China Mobile"               "Toyota Motor"
[21] "Ping An Insurance Group"    "Fannie Mae"
[23] "Verizon Communications"     "Chevron"
[25] "Johnson & Johnson"          "SK Hynix"
[27] "Volkswagen Group"           "Softbank"
[29] "Rio Tinto"                  "HSBC Holdings"
[31] "Naspers"                    "Sberbank"
[33] "Micron Technology"          "Cisco Systems"
[35] "UnitedHealth Group"         "Novartis"
[37] "PepsiCo"                    "China Merchants Bank"
[39] "Tencent Holdings"           "Comcast"
[41] "Taiwan Semiconductor"       "Total"
[43] "Bank of Communications"     "Pfizer"
[45] "Unilever"                   "Home Depot"
[47] "Walt Disney"                "Procter & Gamble"
[49] "Oracle"                     "Roche Holding"

 [1] 59.4 45.2 39.9 38.8 33.5 32.7 30.9 30.7 28.5 27.5 23.3 23.1 22.1 21.1 20.8
[16] 19.4 18.9 17.9 17.9 17.2 16.3 16.0 15.5 14.8 14.7 14.1 14.0 13.9 13.8 13.7
[31] 13.5 13.3 13.1 12.9 12.6 12.6 12.6 12.3 11.9 11.7 11.6 11.4 11.2 11.2 11.1
[46] 11.1 11.0 10.8 10.8 10.7

####4.2.2 Subsetting by row: use `subset()` function
Fill the blanks below to find all German companies with negative profit

In [37]:
Germanycomp <- subset(forbes, country == "Germany"    )
Germanycomp[Germanycomp$profits < 0,c("name","sales","profits","assets")]

     name     sales profits assets
710  Uniper   92.2  -0.533  65.9
1522 Ceconomy 25.5  -0.250  12.5

##Solution
Find all German companies with negative profit

In [38]:
Germanycomp <- subset(forbes, country == "Germany")
Germanycomp[Germanycomp$profits < 0,c("name","sales","profits","assets")]

     name     sales profits assets
710  Uniper   92.2  -0.533  65.9
1522 Ceconomy 25.5  -0.250  12.5

Find the number of companies in each country with profits above 5 billion US dollars

In [77]:
forbes3 <- forbes[forbes$profits > 5,c("name","country","profits")]
table(forbes3[,"country"])

     Australia         Brazil         Canada          China        Denmark
             3              5              3             23              1
        France        Germany      Hong Kong          India          Italy
             3              6              5              1              1
         Japan     Luxembourg    Netherlands         Norway         Russia
            10              1              3              1              5
  Saudi Arabia   South Africa    South Korea          Spain    Switzerland
             1              1              2              2              3
        Taiwan United Kingdom  United States
             1              5             59

Find first 50 companies in the Forbes dataset with the highest profit

In [60]:
companies <- forbes$name   
order_profit <- order(forbes$profits, decreasing=T)   # order() returns the indices of the vector in sorted order
companies[order_profit[1:50]]
head(sort(forbes$profits,decreasing=T),n=50)

 [1] "Apple"                      "ICBC"
 [3] "Samsung Electronics"        "China Construction Bank"
 [5] "Microsoft"                  "JPMorgan Chase"
 [7] "Agricultural Bank of China" "Alphabet"
 [9] "Bank of America"            "Bank of China"
[11] "Royal Dutch Shell"          "Wells Fargo"
[13] "Facebook"                   "Intel"
[15] "ExxonMobil"                 "AT&T"
[17] "Gazprom"                    "Citigroup"
[19] "China Mobile"               "Toyota Motor"
[21] "Ping An Insurance Group"    "Fannie Mae"
[23] "Verizon Communications"     "Chevron"
[25] "Johnson & Johnson"          "SK Hynix"
[27] "Volkswagen Group"           "Softbank"
[29] "Rio Tinto"                  "HSBC Holdings"
[31] "Naspers"                    "Sberbank"
[33] "Micron Technology"          "Cisco Systems"
[35] "UnitedHealth Group"         "Novartis"
[37] "PepsiCo"                    "China Merchants Bank"
[39] "Tencent Holdings"           "Comcast"
[41] "Taiwan Semiconductor"       "Total"
[43] "Bank of Communications"     "Pfizer"
[45] "Unilever"                   "Home Depot"
[47] "Walt Disney"                "Procter & Gamble"
[49] "Oracle"                     "Roche Holding"

 [1] 59.4 45.2 39.9 38.8 33.5 32.7 30.9 30.7 28.5 27.5 23.3 23.1 22.1 21.1 20.8
[16] 19.4 18.9 17.9 17.9 17.2 16.3 16.0 15.5 14.8 14.7 14.1 14.0 13.9 13.8 13.7
[31] 13.5 13.3 13.1 12.9 12.6 12.6 12.6 12.3 11.9 11.7 11.6 11.4 11.2 11.2 11.1
[46] 11.1 11.0 10.8 10.8 10.7

####4.2.3 Subsetting by column
Create another dataframe with only numeric variables (i.e. only keep columns of sales, profits, assets and marketvalue)

In [61]:
#use data.frame function
forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

# Fill the blank below
#use subset() function
forbes4 <- subset(forbes, select = c("sales", "profits", "assets", "marketvalue"))
str(forbes4)

#or simply use indexing
# Fill the blank below
forbes5 <- forbes[, 4:7]
str(forbes5)

'data.frame':	2000 obs. of  4 variables:
 $ sales  : num  176 133 150 138 112 ...
 $ profits: num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets : num  4034 2737 3382 3293 2377 ...
 $ mvalue : num  305 368 225 197 287 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

## Solution

In [43]:
#use data.frame function
forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

#use subset() function
forbes4 <- subset(forbes,select=c(sales,profits,assets,marketvalue))
str(forbes4)

#or simply use indexing
forbes5 <- forbes[,c(4:7)]
str(forbes5)

'data.frame':	2000 obs. of  4 variables:
 $ sales  : num  176 133 150 138 112 ...
 $ profits: num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets : num  4034 2737 3382 3293 2377 ...
 $ mvalue : num  305 368 225 197 287 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

### 4.3 Preprocessing – Factors
* factors are variables in R which take on a limited number of different values; such variables are often referred to as categorical variables


Convert characters to (unordered) factors:

In [14]:
forbes$country<-factor(forbes$country)
str(forbes)

'data.frame':	2000 obs. of  7 variables:
 $ rank       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name       : chr  "ICBC" "JPMorgan Chase" "China Construction Bank" "Agricultural Bank of China" ...
 $ country    : Factor w/ 60 levels "Argentina","Australia",..: 10 59 10 10 59 59 10 10 37 59 ...
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

* Small classes could be merged into a larger class. Why?
> * For better model performance. E.g. Classification and Regression Trees tend to split using the variables with many categories.
> * Actual needs
Some categories have just a few subjects

In [15]:
table(forbes$country)

           Argentina            Australia              Austria
                   2                   37                    9
             Bahrain              Belgium              Bermuda
                   1                   10                    4
              Brazil               Canada                Chile
                  20                   56                    8
               China             Colombia       Czech Republic
                 251                    6                    1
             Denmark                Egypt              Finland
                  13                    1                    9
              France              Germany               Greece
                  57                   52                    4
           Hong Kong              Hungary                India
                  58                    2                   57
           Indonesia              Ireland               Israel
                   6                   18                    9
               Italy                Japan               Jordan
                  27                  223                    1
          Kazakhstan                Kenya               Kuwait
                   1                    1                    4
             Lebanon           Luxembourg             Malaysia
                   2                    7                    9
              Mexico               Monaco              Morocco
                  13                    1                    3
         Netherlands              Nigeria               Norway
                  25                    2                    8
                Oman                 Peru          Philippines
                   1                    2                    6
              Poland             Portugal                Qatar
                   7                    4                    6
              Russia         Saudi Arabia            Singapore
                  22                   15                   13
        South Africa          South Korea                Spain
                  12                   62                   22
              Sweden          Switzerland               Taiwan
                  26                   41                   47
            Thailand               Turkey United Arab Emirates
                  15                    9                    9
      United Kingdom        United States              Vietnam
                  83                  576                    4

* Merge small classes into a larger classes

Merge all South American countries to "Latin America"

In [16]:
latinAmerica = "Latin America"
checkAndAddLevel <- function(aLevel, aFactor) {
  if (! aLevel %in% levels(aFactor)) {
    cat("Adding", aLevel, "\n")
    c(levels(aFactor), aLevel)
  } else {
    cat("Already have", aLevel, "\n")
    levels(aFactor)
  }
}
levels(forbes$country) <- checkAndAddLevel(latinAmerica, forbes$country)
table(forbes$country)
toLatinAmerica <- c("Argentina", "Bermuda", "Brazil", "Chile", "Colombia", "Mexico", "Peru")
checkAndPopulateLevel <- function(aLevel, aFactor, target) {
  inTarget <- aFactor %in% target
  if (sum(inTarget) != 0) {
    cat("Populating", aLevel, "\n")
    aFactor[inTarget] <- aLevel
    aFactor <- droplevels(aFactor)
  } else {
    cat("Already populated", aLevel, "\n")
  }
  aFactor
}
forbes$country <- checkAndPopulateLevel(latinAmerica, forbes$country, toLatinAmerica)
table(forbes$country)

Adding Latin America

           Argentina            Australia              Austria
                   2                   37                    9
             Bahrain              Belgium              Bermuda
                   1                   10                    4
              Brazil               Canada                Chile
                  20                   56                    8
               China             Colombia       Czech Republic
                 251                    6                    1
             Denmark                Egypt              Finland
                  13                    1                    9
              France              Germany               Greece
                  57                   52                    4
           Hong Kong              Hungary                India
                  58                    2                   57
           Indonesia              Ireland               Israel
                   6                   18                    9
               Italy                Japan               Jordan
                  27                  223                    1
          Kazakhstan                Kenya               Kuwait
                   1                    1                    4
             Lebanon           Luxembourg             Malaysia
                   2                    7                    9
              Mexico               Monaco              Morocco
                  13                    1                    3
         Netherlands              Nigeria               Norway
                  25                    2                    8
                Oman                 Peru          Philippines
                   1                    2                    6
              Poland             Portugal                Qatar
                   7                    4                    6
              Russia         Saudi Arabia            Singapore
                  22                   15                   13
        South Africa          South Korea                Spain
                  12                   62                   22
              Sweden          Switzerland               Taiwan
                  26                   41                   47
            Thailand               Turkey United Arab Emirates
                  15                    9                    9
      United Kingdom        United States              Vietnam
                  83                  576                    4
       Latin America
                   0

Populating Latin America

           Australia              Austria              Bahrain
                  37                    9                    1
             Belgium               Canada                China
                  10                   56                  251
      Czech Republic              Denmark                Egypt
                   1                   13                    1
             Finland               France              Germany
                   9                   57                   52
              Greece            Hong Kong              Hungary
                   4                   58                    2
               India            Indonesia              Ireland
                  57                    6                   18
              Israel                Italy                Japan
                   9                   27                  223
              Jordan           Kazakhstan                Kenya
                   1                    1                    1
              Kuwait              Lebanon           Luxembourg
                   4                    2                    7
            Malaysia               Monaco              Morocco
                   9                    1                    3
         Netherlands              Nigeria               Norway
                  25                    2                    8
                Oman          Philippines               Poland
                   1                    6                    7
            Portugal                Qatar               Russia
                   4                    6                   22
        Saudi Arabia            Singapore         South Africa
                  15                   13                   12
         South Korea                Spain               Sweden
                  62                   22                   26
         Switzerland               Taiwan             Thailand
                  41                   47                   15
              Turkey United Arab Emirates       United Kingdom
                   9                    9                   83
       United States              Vietnam        Latin America
                 576                    4                   55

Merge small classes into a larger classes

In [21]:
forbes$country[(forbes$country=="Austria")|(forbes$country=="Belgium")|(forbes$country=="Czech Republic")|(forbes$country=="Denmark")|(forbes$country=="Finland")|(forbes$country=="France")|(forbes$country=="Germany")|(forbes$country=="Greece")|(forbes$country=="Hungary")|(forbes$country=="Ireland")|(forbes$country=="Italy")|(forbes$country=="Luxembourg")|(forbes$country=="Netherlands")|(forbes$country=="Norway")|(forbes$country=="Poland")|(forbes$country=="Portugal")|(forbes$country=="Russia")|(forbes$country=="Spain")|(forbes$country=="Sweden")|(forbes$country=="Switzerland")|(forbes$country=="Turkey")|(forbes$country=="France/ United Kingdom")|(forbes$country=="United Kingdom/ Netherlands")|(forbes$country=="Netherlands/ United Kingdom")]<-"United Kingdom"
ESEA <- "East/Southeast Asia"
levels(forbes$country) <- checkAndAddLevel(ESEA, forbes$country)
toEsea <- c("China", "Hong Kong", "Indonesia", "Japan", "Kong/China", "Korea", "Malaysia", "Philippines", "Singapore", "South Korea", "Taiwan", "Thailand", "Vietnam")
forbes$country <- checkAndPopulateLevel(ESEA, forbes$country, toEsea)
table(forbes$country)

UKSA <- "United Kingdom/ South Africa"
levels(forbes$country) <- checkAndAddLevel(UKSA, forbes$country)
toUksa <- c("Africa", "Australia", "India", "Australia/ United Kingdom", "Islands", "Israel", "Jordan", "Liberia", "Mexico", "New Zealand", "Pakistan", "South Africa", "United Kingdom/ Australia")
forbes$country <- checkAndPopulateLevel(UKSA, forbes$country, toUksa)
table(forbes$country)

ME <- "Middle East"
levels(forbes$country) <- checkAndAddLevel(ME, forbes$country)
toMe <- c("Bahrain", "Egypt", "Kazakhstan", "Kuwait", "Lebanon", "Oman", "Qatar", "Saudi Arabia", "United Arab Emirates")
forbes$country <- checkAndPopulateLevel(ME, forbes$country, toMe)
table(forbes$country)

Already have East/Southeast Asia
Already populated East/Southeast Asia

                     Bahrain                       Canada
                           1                           56
                       Egypt                   Kazakhstan
                           1                            1
                       Kenya                       Kuwait
                           1                            4
                     Lebanon                       Monaco
                           2                            1
                     Morocco                      Nigeria
                           3                            2
                        Oman                        Qatar
                           1                            6
                Saudi Arabia         United Arab Emirates
                          15                            9
              United Kingdom                United States
                         456                          576
               Latin America          East/Southeast Asia
                          55                          694
United Kingdom/ South Africa
                         116

Already have United Kingdom/ South Africa
Already populated United Kingdom/ South Africa

                     Bahrain                       Canada
                           1                           56
                       Egypt                   Kazakhstan
                           1                            1
                       Kenya                       Kuwait
                           1                            4
                     Lebanon                       Monaco
                           2                            1
                     Morocco                      Nigeria
                           3                            2
                        Oman                        Qatar
                           1                            6
                Saudi Arabia         United Arab Emirates
                          15                            9
              United Kingdom                United States
                         456                          576
               Latin America          East/Southeast Asia
                          55                          694
United Kingdom/ South Africa
                         116

Adding Middle East
Populating Middle East

                      Canada                        Kenya
                          56                            1
                      Monaco                      Morocco
                           1                            3
                     Nigeria               United Kingdom
                           2                          456
               United States                Latin America
                         576                           55
         East/Southeast Asia United Kingdom/ South Africa
                         694                          116
                 Middle East
                          40

* Drop those levels with zero counts

Use `droplevels()` function:

In [0]:
#forbes$country<-droplevels(forbes$country)

Now we can check the new frequency tables:

In [27]:
table(forbes$country)
sum(is.na(forbes$country))
which(is.na(forbes$country))
levels(forbes$country)

                      Canada                        Kenya
                          56                            0
                      Monaco                      Morocco
                           0                            0
                     Nigeria               United Kingdom
                           0                          456
               United States                Latin America
                         576                           55
         East/Southeast Asia United Kingdom/ South Africa
                         694                          116
                 Middle East                        Other
                          40                            7

[1] 0

integer(0)

 [1] "Canada"                       "Kenya"
 [3] "Monaco"                       "Morocco"
 [5] "Nigeria"                      "United Kingdom"
 [7] "United States"                "Latin America"
 [9] "East/Southeast Asia"          "United Kingdom/ South Africa"
[11] "Middle East"                  "Other"

* Merge other smaller countries to Other

In [28]:
regionNames <- c("Canada", "United Kingdom", "United States", "Latin America", "East/Southeast Asia", "United Kingdom/ South Africa", "Middle East", "Other")
isOther <- !forbes$country %in% regionNames
sum(isOther)
forbes$country[isOther]
levels(forbes$country) <- checkAndAddLevel("Other", forbes$country)
forbes$country[isOther] <- "Other"
forbes$country <- droplevels(forbes$country)
levels(forbes$country)

[1] 0

factor(0)
12 Levels: Canada Kenya Monaco Morocco Nigeria United Kingdom ... Other

Already have Other

[1] "Canada"                       "United Kingdom"
[3] "United States"                "Latin America"
[5] "East/Southeast Asia"          "United Kingdom/ South Africa"
[7] "Middle East"                  "Other"

* Rename each class

In [29]:
#levels(forbes$country)<-c("Canada","East/Southeast Asia","Europe","Other","United States","Latin America")
levels(forbes$country)

[1] "Canada"                       "United Kingdom"
[3] "United States"                "Latin America"
[5] "East/Southeast Asia"          "United Kingdom/ South Africa"
[7] "Middle East"                  "Other"

###4.4 Export the cleaned dataset (Important!)
* Save forbes to Forbes2000_clean.csv

In [30]:
write.csv(forbes,"Forbes2000_2019_clean.csv",row.names=FALSE)
list.files()
str(forbes)
sum(is.na(forbes$country))

[1] "Forbes2000_2019_clean.csv" "Forbes2000_2019.csv"
[3] "Forbes2000_2019.csv.zip"

'data.frame':	2000 obs. of  7 variables:
 $ rank       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name       : chr  "ICBC" "JPMorgan Chase" "China Construction Bank" "Agricultural Bank of China" ...
 $ country    : Factor w/ 8 levels "Canada","United Kingdom",..: 5 3 5 5 3 3 5 5 2 3 ...
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

[1] 0

## 5. Data analysis

###5.2 Import the cleaned dataset (Optional)
* Subsetting by column
Create a dataframe with the clean data

In [31]:
forbes_clean <- read.csv("Forbes2000_2019_clean.csv",header=T,stringsAsFactors = T,na.strings ="?",sep=",")
str(forbes_clean)

'data.frame':	2000 obs. of  7 variables:
 $ rank       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name       : Factor w/ 2000 levels "360 Security Technology",..: 914 1014 388 41 206 123 1410 211 1512 1918 ...
 $ country    : Factor w/ 8 levels "Canada","East/Southeast Asia",..: 2 8 2 2 8 8 2 2 6 8 ...
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

###5.3 Extract Variables 
* Create another data frame with only numeric variables + country

Hint: Refer to 4.2.3 Subsetting by column

In [32]:
# Fill the blank below:
forbes_clean <- forbes_clean[, 3:7]
str(forbes_clean)

'data.frame':	2000 obs. of  5 variables:
 $ country    : Factor w/ 8 levels "Canada","East/Southeast Asia",..: 2 8 2 2 8 8 2 2 6 8 ...
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

###5.4 Training Set and Test Set
* Dataset could be randomly split into two parts: training set and test set.

In [0]:
set.seed(1) #set random seed reproducible
indx <- sample(1:2000,size=2000,replace=F)
forbes.train <- forbes_clean[indx[1:1600],]
forbes.test <- forbes_clean[indx[1601:2000],]

##Exercise 
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [34]:
forbes_clean2 <- forbes_clean[,c(2:5)]  # create a new dataframe with only numeric variables included
set.seed(3) 
indx <- sample(1:2000,size=2000,replace=F)
forbes.train <- forbes_clean2[indx[1:1600],]
forbes.test <- forbes_clean2[indx[1601:2000],]
str(forbes.train)

'data.frame':	1600 obs. of  4 variables:
 $ sales      : num  13.3 3.1 13.5 7.7 26.3 1.3 8.2 8.5 19.7 7 ...
 $ profits    : num  0.811 0.576 1.3 0.641 -10.2 5.7 1 1.1 1.1 1.7 ...
 $ assets     : num  21.9 6.6 17.8 24.4 103.6 ...
 $ marketvalue: num  12.6 10.5 20.1 10.7 40.2 24.5 7.2 6.2 15.9 71.5 ...

In [35]:
lm <- lm(   profits ~ . , data=forbes.train     )
summary(lm)

Call:
lm(formula = profits ~ ., data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-28.7050  -0.2945   0.0270   0.3843  24.6195

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.115184   0.058980  -1.953    0.051 .
sales        0.012875   0.001757   7.328  3.7e-13 ***
assets       0.004877   0.000189  25.810  < 2e-16 ***
marketvalue  0.040605   0.001023  39.697  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.012 on 1596 degrees of freedom
Multiple R-squared:  0.7452,	Adjusted R-squared:  0.7447
F-statistic:  1556 on 3 and 1596 DF,  p-value: < 2.2e-16

2. Comment on the output. For instance:  Is there a relationship between the predictors and the response?

Yes.

3. Which predictors appear to have a statistically significant relationship to the response?

All 3 - sales, assets, and marketvalue

4. What does the coefficient for the sales variable suggest?

A unit sales increase results in a 1.2% increase in profits.

### Bonus questions:

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [36]:
lm2 <- lm(  profits ~ (sales+assets+marketvalue)^3    , data = forbes.train)
summary(lm2)

Call:
lm(formula = profits ~ (sales + assets + marketvalue)^3, data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-28.4783  -0.3481  -0.0690   0.3692  24.5298

Coefficients:
                           Estimate Std. Error t value Pr(>|t|)
(Intercept)               2.063e-01  7.370e-02   2.798 0.005197 **
sales                     8.042e-03  2.280e-03   3.528 0.000431 ***
assets                    5.661e-04  5.228e-04   1.083 0.279052
marketvalue               3.689e-02  1.731e-03  21.311  < 2e-16 ***
sales:assets              3.560e-05  6.115e-06   5.821 7.06e-09 ***
sales:marketvalue         1.671e-05  1.329e-05   1.257 0.208799
assets:marketvalue        1.824e-05  5.014e-06   3.638 0.000284 ***
sales:assets:marketvalue -9.563e-08  3.672e-08  -2.604 0.009287 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.938 on 1592 degrees of freedom
Multiple R-squared:  0.7643,	Adjusted R-squared:  0.7632
F-statistic: 737.3 on 7 and 1592 DF,  p-value: < 2.2e-16

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [40]:
# MLR model without interactions 
lm.yhat <- predict(lm, newdata = forbes.test)
lm.y <-  forbes.test$profits
lm.rmse <- sqrt(mean(data.matrix((lm.y - lm.yhat)^2)))
lm.rmse
lm.abs = abs(lm.y - lm.yhat)
lm.mad = (sum(lm.abs))/400
lm.mad

# MLR model with all interactions
lm2.yhat <- predict(lm2, newdata = forbes.test)
lm2.y <- forbes.test$profits
lm2.rmse <- sqrt(mean(data.matrix((lm2.y - lm2.yhat)^2)))
lm2.rmse
lm2.abs = abs(lm2.y - lm2.yhat) 
lm2.mad = (sum(lm2.abs))/400
lm2.mad

[1] 2.187403

[1] 0.8436742

[1] 2.119336

[1] 0.843309

##Solution 
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [38]:
lm <- lm(profits ~ ., data = forbes.train)
summary(lm)

Call:
lm(formula = profits ~ ., data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-28.7050  -0.2945   0.0270   0.3843  24.6195

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.115184   0.058980  -1.953    0.051 .
sales        0.012875   0.001757   7.328  3.7e-13 ***
assets       0.004877   0.000189  25.810  < 2e-16 ***
marketvalue  0.040605   0.001023  39.697  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.012 on 1596 degrees of freedom
Multiple R-squared:  0.7452,	Adjusted R-squared:  0.7447
F-statistic:  1556 on 3 and 1596 DF,  p-value: < 2.2e-16

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [39]:
lm2 <- lm(profits ~ (sales + assets + marketvalue)^3, data = forbes.train)
summary(lm2)

Call:
lm(formula = profits ~ (sales + assets + marketvalue)^3, data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-28.4783  -0.3481  -0.0690   0.3692  24.5298

Coefficients:
                           Estimate Std. Error t value Pr(>|t|)
(Intercept)               2.063e-01  7.370e-02   2.798 0.005197 **
sales                     8.042e-03  2.280e-03   3.528 0.000431 ***
assets                    5.661e-04  5.228e-04   1.083 0.279052
marketvalue               3.689e-02  1.731e-03  21.311  < 2e-16 ***
sales:assets              3.560e-05  6.115e-06   5.821 7.06e-09 ***
sales:marketvalue         1.671e-05  1.329e-05   1.257 0.208799
assets:marketvalue        1.824e-05  5.014e-06   3.638 0.000284 ***
sales:assets:marketvalue -9.563e-08  3.672e-08  -2.604 0.009287 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.938 on 1592 degrees of freedom
Multiple R-squared:  0.7643,	Adjusted R-squared:  0.7632
F-statistic: 737.3 on 7 and 1592 DF,  p-value: < 2.2e-16

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [41]:
# MLR model without interactions 
lm.yhat <- predict(lm, newdata = forbes.test) 
lm.y <- forbes.test["profits"] 
lm.rmse <- sqrt(mean(data.matrix((lm.y - lm.yhat)^2), na.rm = T))
lm.rmse
lm.abs = abs(lm.y - lm.yhat) 
lm.mad = (sum(lm.abs))/400
lm.mad

# MLR model with all interactions
lm2.yhat <- predict(lm2, newdata = forbes.test) 
lm2.y <- forbes.test["profits"] 
lm2.rmse <- sqrt(mean(data.matrix((lm2.y - lm2.yhat)^2)))
lm2.rmse
lm2.abs = abs(lm2.y - lm2.yhat) 
lm2.mad = (sum(lm2.abs))/400 
lm2.mad

[1] 2.187403

[1] 0.8436742

[1] 2.119336

[1] 0.843309